html, main, body {
  height: 100%;
}
section {
  height: 85%;
}
header, footer {
  background: linear-gradient(to bottom right, $prime-color, $second-color);
  color: $white-color;
}
header {
  height: 10%;
  position: relative;
}
footer {
  height: 5%;
}
#landing {
  margin-top: 0;
<<<<<<< HEAD
  max-height: 35%;
=======
>>>>>>> 5f4e0f2e272910a8cfb6d4b19bc9a426df48b4a6
  background-color: rgba(152, 9, 178, .5);
  text-align: center;
  color: white;
  position: absolute;
  z-index: 10000;
}
.map-protector {
  width: 100%;
  height: 50%;
  background-color: rgba(152, 9, 178, .1);
  z-index: 9500;
  position: absolute;
}
.login input {
  border-radius: 2px;
  margin: 7px auto;
  padding: 7px;
  display: block;
  border-width: 0;
<<<<<<< HEAD
}

=======
  height: 35%;
}
>>>>>>> 5f4e0f2e272910a8cfb6d4b19bc9a426df48b4a6
a {
  font-family: $body-font;
  text-decoration: none;
  color: $white-color;
}
a:hover {
  color: $tert-color;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
