html, body, section {
  height: 100%;
}
main {
  height: 85%;
}
section {
  width: 100%;
}
a {
  font-family: $body-font;
  text-decoration: none;
  color: $white-color;
}
a:hover {
  color: $tert-color;
}
