
$prime-color: #C400E8;
$second-color: #FF85D9;
$gray-color: #ccc;
$white-color: #fff;
$tert-color: #FF8806;

$logo-font: 'Righteous', cursive;
$header-font: 'Exo 2', sans-serif;
$body-font: 'Jaldi', sans-serif;
