#map {
  height: 100%;
  position: relative;
}

#menu:active {
  height: 20%;
  display: block;
  color: $white-color;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  #menu {
  display: inline-block;
  position: absolute;
  right: 85px;
  bottom: 38%;

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }

  header p {
    right: 15px;
  }

  header p:hover {
    color: $tert-color;
  }
}
