//header layout
header, footer {
  background: linear-gradient(to bottom right, $prime-color, $second-color);
  color: $white-color;
}
header {
  height: 10%;
  position: relative;
}
footer {
  height: 5%;
  font-size: 1.1em;
  font-family: $body-font;
  line-height: 2em;
  padding: 0 15px;
}
header div {
  position: absolute;
  width: 75%;
  left: 20px;
  bottom: 25%;
}
h1 {
  font-family: $logo-font;
  font-size: 2.5em;
  display: inline;
}
header p {
  font-family: $body-font;
  font-size: 1.25em;
  position: absolute;
  right: 65px;
  bottom: 36%;
}
