header div {
  position: absolute;
  width: 75%;
  left: 20px;
  bottom: 25%;
}
h1 {
  font-family: $logo-font;
  font-size: 2.5em;
  display: inline;
}
.icon-camera {
  font-size: 2.25em;
}
.icon-menu {
  position: absolute;
  right: 15px;
  bottom: 25%;
  font-size: 2.5em;
}
header p {
  font-family: $body-font;
  font-size: 1.25em;
  position: absolute;
  right: 65px;
  bottom: 36%;
}
#menu {
  display: none;
}
.spacer {
  margin: 30px auto;
}
//favorites page
#favorites {
  background-color: rgba(152, 9, 178, .1);
  color: $white-color;
  font-family: $header-font;
  text-align: center;
}
.favorite {
  width: 90vw;
  position: relative;
  margin-left: 1.5vw;
  margin-top: 2vw;
  padding: 2vw 1vw;
  display: inline-block;
  border: solid 2px #fff;
  border-radius: 3px;
  font-size: 3.5vw;
  background: linear-gradient(to bottom right, $prime-color, $tert-color);
  a {
    position: absolute;
    right: 1vw;
    .icon-star-full {
      color: yellow;
    }
  }
}
